<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <div class="container">
      <div class="heading-with-edit">
        <h1 class="blog-heading">{{.Title}}</h1>

        <p>[<a href="/edit/{{.Title}}">edit</a>]</p>
        <p>[<a href="/">home</a>]</p>
      </div>

      <div>{{printf "%s" .Body}}</div>
    </div>
  </body>
</html>
